/* Assignment #1 */
header{
    width: 760px;
    height: 80px;
    background: white;
    position: absolute;
    top: 0;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: block;
    padding: 0 100px;   
}
#box1{
    background: #4aaaa5;
    margin: auto;
    font-style: strong;
    color: #ffffff;
    padding: 0 30px;
    max-width: 900px;
    float: left;
    
}

#box2{
    padding: 25px 0;
    position: absolute; 
    right: 100px;
    float: right;
    display: inline;
}
.box2 > a { 
    color: white; 
    position: relative;
}
.box2 :first-child{
    border-right-color: lightgray;
    border-right-style: solid;
}
#boxmain{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: block;
    padding: 150px 50px;
    border: 50px;
    margin: 100px;
    width: 660px;
    border-style: solid;
    border-width: thin;
    border-color: #dddddd;
    background-color: #fff;
    max-width: 960px;
 
}
body{
    background-image:url("/Users/busybee/UCLA/Homework/Assignment1/Basic-Portfolio/assets/images/hypnotize.png");
    position: static;
    max-width: 960px;
    margin: auto;
    background-size: inherit;
    background-repeat: none;
    overflow: hidden;
    max-height: 900px;

}
img{
    max-width: 200px;
    max-height:200px;
    float: left;
    padding: 0 20px 20px 0;
}
footer{
    height: 100px;
    float: bottom;
    max-width: 960px;
    margin: auto;
    text-align: center;
    top: 90%;
    background-color: #666666;
    border-top-color: teal;
    border-top-style: solid;
    color: #fff;
    position: static;
    padding: 10px;
    display: block;
}
